body {
  margin: 0;
  text-align: center;
  /**/
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  width: 30%;
  /*width를 적용하면 text-align이 적용되지 않아 margin으로 정렬*/
  margin: 50px auto 0 auto;
  /*top right bottom left*/
  font-family: 'Black Han Sans', sans-serif;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5rem;
}

hr {
  border: 0;
  border-top: 5px dotted grey;
  width: 40px;
  margin: 100px auto 100px auto;
}

span {
  text-decoration: underline;
}

table {
  margin: 100px auto 100px auto;
  /*top right bottom left*/
}

p {
  line-height: 1.5;
}

.top-container {
  background-color: #9CB4CC;
  position: relative;
  /*top-container의 디폴트 위치에서 padding-top을 100px 설정*/
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0 100px 0;
  /*top right bottom left*/
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  margin: auto;
}

.skill-row {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.invest-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.code-img-des {
  clear: left;
}

.invest-img-des {
  clear: right;
}

.bottom-container {
  background-color: #9CB4CC;
  margin: 100px auto 100px auto;
  /*top right bottom left*/
}

.top-cloud {
  position: absolute;
  /*absolute로 설정하여 top-container와 같은 라인에 위치*/
  right: 300px;
  /*top-container div의 오른쪽으로부터 300px 여백 생기게 */
  top: 50px;
  /*top-container div의 윗쪽으로부터 50px 여백 생기게 */
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: 'Oxygen', sans-serif;
  color: #e6fa4d;
  font-size: 25px;
  background: #c4eda8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #738a74;
  text-decoration: none;
}

.link img {
	filter: none;
	transition: filter 0.4s ease-in-out;
}

.link:hover img {
  	filter: grayscale();
}

.copyright {
  color: white;
  font-size: 0.75rem;
}
